@charset "utf-8";
/* CSS Document */

body {
	margin:0;
}


* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.contenedor {
	width:100%;
	padding:40px;;
}

.cajas {
	display:table;
	width:100%;
	content:"";
	clear:both;
	margin-bottom:20px;
}

input[type='number']{
	display:inline-block;
	vertical-align:middle;
	border:1px solid #CCC;
	width:50px;
	height:50px;
	padding:5px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	margin:0 10px;
}

input[type='number']:first-child {
	margin-left:0;
}

.boton {
	display:inline-block;
	vertical-align:middle;
	border:none;
	width:60px;
	height:30px;
	background:#000;
	text-align:center;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	cursor:pointer;
}

.error {
	display:inline-block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:red;
}

.element-item {
	display:inline-block;
	vertical-align:middle;
	
}
